{% extends 'base.html' %}

{% block title %} Students {% endblock %}

{% block start %}

<div>
    <h1>Report Card</h1>
    <h2>Student ID: {{id}}</h2>
    <h2>Total Marks: {{total_marks.total_marks}}</h2>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Subject_name</th>
            <th scope="col">Marks Obtained</th>
          </tr>
        </thead>
        <tbody>
            {% for mark in marks %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{mark.subject}}</td>
                <td>{{mark.marks}}</td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
</div>
<div>
    <a href="{% url 'students_home_page' %}">Back</a>
</div>

{% endblock %}